Ignore these files when clicking "Download ZIP".gitattributes export-ignore.gitignore export-ignoreREADME.md export-ignoreIAI_PROSECUTION_TRACKER_SPEC.md export-ignore.github/ export-ignorepackage.json export-ignorepackage-lock.json export-ignorenode_modules/ export-ignorewebpack.config.js export-ignoreassets/src/ export-ignore
